{% extends "Layout.html" %}
{%block content %}



<main>
    <div id="plotlyJS"></script></div>
    
    <section class="presentationCode">
		<div class="introduction">
			<div class="intro-text-Coding">
                <h1>{{CodingOptions.IntroMessage1}}
                    <br> 
                    {{CodingOptions.IntroMessage2}}
                    <br> 
                    {{CodingOptions.IntroMessage3}}
                    <br> 
                    {{CodingOptions.IntroMessage4}}
                </h1>                
            </div>            
        </div>        
    </section>
    
    <img class="figura" src="/static/images/ThisIsTheWay.jpg" alt="" />
    <section>
        <div class="container">
            <br>
            <div class="row justify-content-md-center ">
                <div class="col col-lg-2 align-self-center">
                    <hr/>
                </div>
                <div class="col-md-7 text-center">
                    <h2>{{CodingOptions.Title1}}</h2>
                </div>
                <div class="col col-lg-2 align-self-center">
                    <hr/>
                </div>
            </div>            
        </div>
        <div class="container">            
            <div class="row justify-content-md-center">            
                <div class="col-md-auto">
                        <p style='color:#6e6a6a;font-size:20px'> 
                            <br> 
                            <br> 
                            {{CodingOptions.Title1Message1}}
                            <br> 
                            <br> 
                            {{CodingOptions.Title1Message2}}
                            <br> 
                            <br> 
                            {{CodingOptions.Title1Message3}}
                        </p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section>
        <div class="container">
            <div class="row justify-content-md-center ">
                <div class="col col-lg-2 align-self-center">
                    <hr/>
                </div>
                <div class="col-md-auto text-center">
                    <h2>{{CodingOptions.Title2}}</h2>
                </div>
                <div class="col col-lg-2 align-self-center">
                    <hr/>
                </div>
            </div>            
        </div>        
        <br>
        <br>
        <br>
        <div class="container">
            <div id="accordion">


                <!-- Inicia bloque de proyecto -->

                <!-- Visualization Skill -->
                <div class="card">                  
                    <div class="card-header" id="{{Works[0].HeadingPaper}}">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="{{Works[0].CollapsePaperTarget}}" aria-expanded="true" aria-controls="{{Works[0].CollapsePaper}}" style='text-align: left;font-size:20px'>
                            {{Works[0].Title}}
                        </button>
                        </h5>
                    </div>              
                    <div id="{{Works[0].CollapsePaper}}" class="collapse" aria-labelledby="{{Works[0].HeadingPaper}}" data-parent="#accordion">                    
                        <div class="card-body">
                            <h5 class="card-title">Title:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].Subtitle}}</p>
                            <h5 class="card-title">Goal:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].Goal}}</p>
                            <h5 class="card-title">Benefit:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].Benefit}}</p>
                            <h5 class="card-title">Tools:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].Tools}}</p>
                            <h5 class="card-title">Proyect:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText1}}</p>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText2}}</p>
                            <!-- Fig 1 -->   
                            <div id="Fig1"></div>                            
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText3}}</p>              
                            <!-- Fig 2 -->   
                            <div id="Fig2"></div>
                           <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText4}}</p>              
                            <!-- Fig 31 -->   
                            <div id="Fig31"></div>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText5}}</p>              
                            <!-- Fig 32 -->   
                            <div id="Fig32"></div>                            
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText6}}</p>              
                            <!-- Fig 4 -->   
                            <div id="Fig4"></div>                              
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[0].ProyectText7}}</p>                                                   

                        </div>                                                    
                    </div>                    
                </div>
                <!-- Finaliza Visualization Skill -->

                <!-- Inicia Classification Skill -->
                <div class="card">                  
                    <div class="card-header" id="{{Works[1].HeadingPaper}}">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" 
                                data-toggle="collapse" 
                                data-target="{{Works[1].CollapsePaperTarget}}" 
                                aria-expanded="true" 
                                aria-controls="{{Works[1].CollapsePaper}}" 
                                style='text-align: left;font-size:20px'>
                                {{Works[1].Title}}
                        </button>
                        </h5>
                    </div>              
                    <div id="{{Works[1].CollapsePaper}}" 
                            class="collapse" 
                            aria-labelledby="{{Works[1].HeadingPaper}}" 
                            data-parent="#accordion">                    
                        <div class="card-body">
                            <h5 class="card-title">Title:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].Subtitle}}</p>
                            <h5 class="card-title">Goal:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].Goal}}</p>
                            <h5 class="card-title">Benefit:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].Benefit}}</p>
                            <h5 class="card-title">Tools:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].Tools}}</p>
                            <h5 class="card-title"><a href="{{Works[1].GitHub}}">GitHub</a></h5>
                            <br>
                            <h5 class="card-title">Proyect:</h5>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText1}}</p>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText2}}</p>
                            <div id="Fig1_ProgGradeCla"></div>                                
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText3}}</p>              
                            <!-- Fig 2 -->   
                            <div id="Fig2_ProgGradeCla"></div>
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText4}}</p>                                          
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText5}}</p>             
                            <!-- Fig 31 -->   
                            <div id="Fig3_ProgGradeCla"></div>                             
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText6}}</p>              
                            <!-- Fig 4 -->   
                            <div id="Fig4_ProgGradeCla"></div>                              
                            <p class="card-text" style='color:#6e6a6a;font-size:18px'>{{Works[1].ProyectText7}}</p>                                                   
                            
                        </div>                                                                            
                    </div>                    
                </div>
                <!-- Finaliza Classification Skill -->



                


                                    

                









                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        
    </section>


    
</main>    








{% endblock %}